<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container">

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to <b>Yelp Camp.</b></h1>
      <hr>
      <p class="lead">View our hand-picked campgrounds from all over the world.</p>
      <a class="btn btn-outline-info" href="/campgrounds/new">add a new campground</a>
    </div>
</div>

<!-- campground cards -->

<div class="campgrounds">

  <% campgrounds.forEach(campground => { %>

  <div class="card" style="width: 18rem;">
    <img src="<%= campground.image %>" class="card-img-top" alt="Campground Image">
    <div class="card-body">
      <h5 class="card-title"><%= campground.name %></h5>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-outline-info">Take a look</a>
    </div>
  </div>
  
  <% }) %>

</div>


<!-- container end -->
</div>

<%- include('../partials/footer') %>